In [1]:
import pandas as pd

In [2]:
dt = pd.read_excel("../data/follows_deep5.xlsx")

In [8]:
len(dt["from"].unique()),len(dt["mid"].unique())

(125, 4095)

In [13]:
dt_sim = dt[["from","mid"]]

In [24]:
matrix_from2follow = dt_sim.groupby("from").agg(set)

In [25]:
matrix_from2follow

                                                         mid
from
75         {526530563, 12, 562197, 14519839, 662670880, 1...
116683     {2, 208259, 9099524, 259333, 5197192, 52833281...
122879     {777536, 295711424, 254463269, 617285, 116683,...
168598     {2, 208259, 9099524, 44473221, 19642758, 53820...
208259     {605205509, 7392261, 3678731, 257433099, 12027...
...                                                      ...
517327498  {37090048, 208259, 526546916, 94613244, 519178...
537849376  {37090048, 151482404, 510362725, 286973680, 68...
544368017                                         {37090048}
627663012  {203581440, 37090048, 351899011, 1532165, 1964...
686150641                                        {213899402}

[125 rows x 1 columns]

In [28]:
len(dt.mid.unique())

4095

In [31]:
len(dt[dt.mid.isin(dt_sim["from"])]["mid"].unique())

125